
	<td>
		<div class="pic"><a href={{url}}><img class="img-rounded" src="{{pic}}" alt="Preview"></a></div>
	</td>
	<td>
	<div class="title">
		<a href={{url}}><b>{{name}}</b></a>
	</div>
	<div class="gameName">
		Game: {{game}} - <span id="viewerCount">{{viewers}} viewers</span>
	</div>
	<div class="description">
		{{description}}
	</div>
	</td>

{{yield}}
